{% extends "base.html" %}
{% block title %}Home - My App{% endblock %}
{% block content %}

<!--side bar-->
<div class="sidebar">
    <nav class="nav flex-column">
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-upload"></i>
            </span> 
            <span class="description">demo1t</span> 
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-pencil-square"></i>
            </span> 
            <span class="description">demo2</span></a>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-file-earmark-check"></i>
            </span> 
            <span class="description">demo3</span></a>
      
        <!-- menu for dropdown-->
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false" aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-pencil-square"></i>
            </span> 
            <span class="description">Product <i class="bi bi-caret-down-fill"></i></span>
        </a>

        <div class="collapse" id="submenu">
            <a class="nav-link" href="#">
                <span class="icon"></span>
                    <i class="bi bi-6-circle-fill"></i>
                </span>
                <span class="description">Submenu item 1</span>
            </a>
            <a class="nav-link" href="#">Submenu item 2</a>
            <a class="nav-link" href="#">Submenu item 3</a>
        </div>
    </nav>
</div>

<!--main-->
<main class="main-content">
    <div class="col-md-9 col-sm-8">
        <h2>Your Projects</h2>
        <div class="card-container">
            <div class="row">
                {% for project in projects %}
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='uploads/' ~ project.images.split(',')[0]) }}" class="card-img-top" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.overview }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            <button class="btn btn-secondary" id="prev-page" style="display: none;">Previous Page</button>
            <button class="btn btn-secondary" id="next-page" style="display: none;">Next Page</button>
        </div>
    </div>
</main>
{% endblock %}





